.calculator {
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 0.3em;
  background-color: lightgray;
  font-weight: bold;
  font-size: x-large;
}

.display {
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 0.2em;
  background-color: rgba(5, 0, 46, 0.2);
}

button {
  margin: 0.75em 3em 0.75em 3em;
  width: 5em;
  height: 4em;
  font-weight: bolder;
  font-size: large;
}